

.nav_container{
    display: flex;
    background-color: gray;
    padding: 10px;
    justify-content:space-around;
    align-items: center;
}
.menus{
    display: flex;
    list-style: none;
    gap: 10px;
    font-size: 20px;
    color: white;
}
.banner_container{
    height: 100vh;
    background-image: url("./image/background.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    text-align: center;
    align-items: center;
}
.banner_title{
    font-size: 50px;
}
.bannner_descrip{
    width: 50%;
    font-size: 20px;
    margin: auto;
}
.primary_btn{
margin:20px 10px;
padding: 10px 20px;
background-color: blue;
color: white;
font-weight: bold;
border: 0px;
cursor: pointer;
border-radius: 5px;

}

.service_container{
    height: 100vh;
    background-image: url("./image/footer-bg.png"),linear-gradient(rgba(0, 0, 0, 0.856), rgb(0, 0, 19));
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding:10px;
}
.left_container{
    text-align: left;
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 0.188);
}
.s_descrip{
    width: 50%;
}
.img_icon{
    width: 70px;
}
.box{
    width: 150px;
    height: 120px;
    background-color: white;
    color: black;
    padding: 30px;
    text-align: center;
    margin-bottom: 5px;
    border-radius: 5px;
    
}
.allbox{
    display: flex;
    gap: 5px;
}
.profile{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.img_con{
    display: flex;
    gap: 20px;
    border-right: 2px solid red;
}
.serv_title{
    
}
.frofile_container{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    align-items: center;
}
.name{
    padding: 10px;
}
.p_icon{
    width: 60px;

}
.appoinment_container{
    display: flex;
    width:80%;
    padding: 10px;
    background-color: tomato;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    border-radius: 10px;
    margin-top: -40px;
    color: white;
}
.p_des{
    width: 20%;
}
.phone_call{
    display: flex;
    gap: 20px;
}
.blog_title{
    text-align: center;
    font-size: 30px;
    font-family: arial black;
}
.bloc_ccontainer{
    width: 40%;
    margin: auto;
    padding-bottom:18px;
    
}

.card{
    width: 200px;
    height: 350px;
    background-color: #ddd;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px 4px 3px;

}
.c_img{
    width:100%;
}
.img_title{
   padding: 3px;
}
.b_cards{
    display: flex;
    gap: 20px;
    justify-content: center;

}
.blog_container{
    width: 90%;
    background-color: rgba(0, 255, 255, 0.192);
    margin: auto;
    height: 500px;
}
.footer_contant{
    width: 200px;
    height: 300px;
    text-align:left;
    margin-top: 50px;

   
}
.footer_container{
    display: flex;
    justify-content: center;
    

}
.copy{
    align-items: center;
    margin: auto;

}
.footer{
    width: 100%;
    background-color: black;
    color: white;
    margin: auto;
    height:400px ;
    
}